---
import "../styles/app.css";
const metatags = {
	title: "Mathieu Lava",
	description:
		"Soy un desarrollador web full-stack (JS & PHP) en la región de Tournai, Bélgica.",
	link: "https://mlava.dev",
	image: "https://mlava.dev/og-image.png",
};
const projects = [
	{
		link: "https://github.com/loak-studio/la-folklorique",
		name: "loak-studio/la-folklorique",
	},
	{
		link: "https://github.com/loak-studio/galandtristan",
		name: "loak-studio/galandtristan",
	},
	{
		link: "https://github.com/lavaqq/mlava.dev",
		name: "lavaqq/mlava.dev",
	},
	{
		link: "https://github.com/lavaqq/scrap_welipro",
		name: "lavaqq/scrap_welipro",
	},
];
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
		<title>{metatags.title}</title>
		<meta name="description" content={metatags.description} />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={metatags.link} />
		<meta property="og:title" content={metatags.title} />
		<meta property="og:description" content={metatags.description} />
		<meta property="og:image" content={metatags.image} />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={metatags.link} />
		<meta property="twitter:title" content={metatags.title} />
		<meta property="twitter:description" content={metatags.description} />
		<meta property="twitter:image" content={metatags.image} />
	</head>
	<body
		class="max-w-6xl w-full mx-auto flex justify-start items-center h-screen bg-secondary text-primary font-main"
	>
		<main class="px-5 flex flex-col gap-5">
			<div class="flex flex-col gap-3">
				<h1 class="uppercase font-bold text-6xl">Mathieu Lava</h1>
				<p>
					Soy un desarrollador web full-stack (JS & PHP) para <a
						href="https://loak.studio"
						class="underline hover:no-underline">loak.studio</a
					> en la región de Tournai, Bélgica.
				</p>
			</div>
			<div class="flex flex-col gap-3">
				<h2 class="uppercase font-bold text-2xl">
					mis/nuestros proyectos
				</h2>
				<ul class="flex flex-col gap-2">
					{
						projects.map((project) => (
							<li>
								*
								<a
									class="underline hover:no-underline"
									href={project.link}
									target="_blank"
									title={project.name}
								>
									{project.name}
								</a>
							</li>
						))
					}
				</ul>
			</div>
			<div class="flex flex-col gap-3">
				<h2 class="uppercase font-bold text-2xl">
					El tiempo desde la última vez que fumé un cigarrillo
				</h2>
				<p id="timer"></p>
			</div>
		</main>
		<script>
			import "../scripts/timer.ts";
		</script>
	</body>
</html>
