---
import "../styles/app.css";
const metatags = {
	title: "Mathieu Lava",
	description:
		"Je suis développeur web full-stack (PHP & JS) pour loak.studio dans la région de Tournai, Belgique.",
	link: "https://mlava.dev",
	image: "https://mlava.dev/og-image.png",
};
const projects = [
	{
		link: "https://lafolklorique.be/",
		name: "loak-studio/la-folklorique",
	},
	{
		link: "https://zebatuca.be/",
		name: "loak-studio/zebatuca",
	},
	{
		link: "https://dealview.be/",
		name: "loak-studio/dealview",
	},
	{
		link: "https://anro-magazine.com/",
		name: "loak-studio/anró",
	},
	{
		link: "https://saveurbelge.com/",
		name: "loak-studio/saveur-belge",
	},
	{
		link: "https://galandtristan.be/",
		name: "lavaqq/galand-tristan",
	},
	{
		link: "https://mlava.dev/",
		name: "lavaqq/mlava.dev",
	},
];
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
		<title>{metatags.title}</title>
		<meta name="description" content={metatags.description} />
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={metatags.link} />
		<meta property="og:title" content={metatags.title} />
		<meta property="og:description" content={metatags.description} />
		<meta property="og:image" content={metatags.image} />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={metatags.link} />
		<meta property="twitter:title" content={metatags.title} />
		<meta property="twitter:description" content={metatags.description} />
		<meta property="twitter:image" content={metatags.image} />
	</head>
	<body
		class="max-w-6xl w-full mx-auto flex justify-start items-center min-h-screen bg-secondary text-primary font-main"
	>
		<main class="px-5 flex flex-col gap-5">
			<div class="flex flex-col gap-3">
				<h1 class="uppercase font-bold text-6xl">Mathieu Lava</h1>
				<p>
					Je suis développeur web full-stack (PHP & JS) pour <a
						href="https://loak.studio"
						class="underline hover:no-underline">loak.studio</a
					> dans la région de Tournai, Belgique.
				</p>
			</div>
			<div class="flex flex-col gap-3">
				<h2 class="uppercase font-bold text-2xl">projets</h2>
				<ul class="flex flex-col gap-2">
					{
						projects.map((project) => (
							<li>
								*
								<a
									class="underline hover:no-underline"
									href={project.link}
									target="_blank"
									title={project.name}
								>
									{project.name}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</main>
	</body>
</html>
